LUCENE_INDEX_DIR=/absolute/path/to/lucene_index_positions
MSMARCO_INPUT_DIR=/absolute/path/to/msmarco_v2_doc
LUCENE_TEXT_FIELD=text
LUCENE_TITLE_FIELD=title
MONOFOREST_MODEL_PATH=/absolute/path/to/linear_monomials.json
